<section class="m-24 rounded-lg bg-white shadow-xl p-8 max-w-md mx-auto text-center">
  <div class="space-y-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-10">Sign up to our website</h1>

    <form [formGroup]="signupForm"
      #formDirective="ngForm">

      <div class="space-y-6 text-xl">
        <!--Nome label e input-->
        <div class="space-y-2">
          <label for="name"
            class="form-label">Name</label>
          <input type="text"
            id="name"
            class="form-input"
            placeholder="Jane Smith"
            required
            formControlName="name">
          <div *ngIf="name!.invalid && submitted"
            class="validation-error">
            <p *ngIf="name!.errors?.['required']"><i class="fa-solid fa-exclamation"></i> The name is mandatory.</p>
            <p *ngIf="name!.errors?.['minlength']"><i class="fa-solid fa-exclamation"></i> Insert at least 6 characters.
            </p>
          </div>

          <!--Email label e input-->
          <div class="space-y-2">
            <label for="email"
              class="form-label">Email</label>
            <input type="email"
              id="email"
              class="form-input"
              placeholder="example@email.com"
              required
              formControlName="email">
            <div *ngIf="email!.invalid && submitted"
              class="validation-error">
              <p *ngIf="email!.errors?.['required']"><i class="fa-solid fa-exclamation"></i> The email is mandatory.</p>
              <p *ngIf="email!.errors?.['email']"><i class="fa-solid fa-exclamation"></i> Invalid email format</p>
            </div>

            <div class="space-y-2">
              <label for="password"
                class="form-label">Password</label>
              <input type="password"
                id="password"
                class="form-input"
                placeholder="••••••••"
                formControlName="password">

              <div *ngIf="password!.invalid && submitted"
                class="validation-error">
                <p *ngIf="password!.errors?.['required']"><i class="fa-solid fa-exclamation"></i> The password is mandatory.
                </p>
                <i class="fa-solid fa-exclamation"></i>
                <p *ngIf="password!.errors?.['minlength']"><i class="fa-solid fa-exclamation"></i> Insert at least 6
                  characters.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <app-button buttonText="Sign up"
      fontSize="1.25rem"
      padding=".4rem .8rem"
      (click)="signupUser()">
    </app-button>
  </div>
</section>