<div class="min-h-screen flex flex-col">
  <div class="flex-grow mb-24">
    <!-- Loading State -->
    <div *ngIf="isLoading"
      class="m-24 animate-pulse h-80">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        <div *ngFor="let _ of [].constructor(4)">
          <div class="h-96 bg-gray-200 rounded-md"></div>
          <div class="h-6 bg-gray-200 mt-4 w-3/4"></div>
          <div class="h-4 bg-gray-200 mt-2 w-1/2"></div>
        </div>
      </div>
    </div>

    <!-- Conteúdo Real -->
    <section *ngIf="!isLoading"
      [ngClass]="{'mx-24': true, 'm-12': role !== 'manager'}">

      <div class="flex justify-end space-x-4">
        <!-- Subheader apenas para managers -->
        <div *ngIf="role === 'manager'"
          class="flex space-x-4 mt-12 mb-8">
          <app-button-add-book></app-button-add-book>
          <app-button-get-unavailable-books></app-button-get-unavailable-books>
        </div>

        <!-- Dropdown de Categorias -->
        <div class="flex space-x-4 mt-12 mb-8">
          <select [(ngModel)]="selectedCategory"
            (change)="filterBooksByCategory(selectedCategory)"
            class="p-2 border border-gray-300 rounded-md">
            <option value="all">All Categories</option>
            <option *ngFor="let category of categories"
              [value]="category.name">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>

      <!-- Listagem de livros -->
      <div *ngIf="filteredBooks.length > 0"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        <div *ngFor="let book of filteredBooks">
          <app-book-detail [book]="book"></app-book-detail>
        </div>
      </div>

      <!-- Estado Vazio -->
      <div *ngIf="filteredBooks.length === 0"
        class="text-center text-gray-500">
        <p class="text-xl">No books were found.</p>
      </div>
    </section>
  </div>
</div>