<!-- categories-listing-page.component.html -->
<div class="min-h-screen flex flex-col text-center">
  <div class="flex-grow m-8 md:m-12 lg:m-16">
    <!-- Loading State -->
    <div *ngIf="isLoading"
      class="m-8 animate-pulse">
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
        <div *ngFor="let _ of [].constructor(6)">
          <div class="h-32 bg-gray-200 rounded-lg"></div>
          <div class="h-5 bg-gray-200 mt-3 w-3/4 mx-auto"></div>
          <div class="h-4 bg-gray-200 mt-2 w-1/2 mx-auto"></div>
        </div>
      </div>
    </div>

    <!-- Conteúdo Real -->
    <section *ngIf="!isLoading">

      <!-- Subheader apenas para managers -->
      <div *ngIf="role === 'manager'"
        class="flex justify-end mb-6">
        <app-button-add-category></app-button-add-category>
      </div>

      <!-- Listagem de categorias -->
      <div *ngIf="categories.length > 0"
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
        <div *ngFor="let category of categories"
          class="bg-white rounded-md shadow-sm hover:shadow-md transition-shadow duration-300">
          <a class="block h-full p-2">
            <div
              class="bg-gradient-to-r from-purple-500 to-purple-700 text-white text-lg font-semibold py-2 px-3 rounded-lg h-16 flex items-center justify-center">
              {{category.name}}
            </div>
          </a>
        </div>
      </div>

      <!-- Estado Vazio -->
      <div *ngIf="categories.length === 0"
        class="text-center text-gray-500">
        <p class="text-lg bg-white p-3 rounded-md text-gray-700">No categories were found.</p>
      </div>
    </section>
  </div>
</div>