<!-- Barra de Navegação -->
<nav class="bg-black w-full z-50 transition-all duration-300 text-white shadow-lg">
  <div
    class="max-w-7xl mx-auto px-4 py-4 flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
    <!-- Logo -->
    <a [routerLink]="['/']"
      class="font-txt-title text-3xl font-bold hover:text-purple-600">Dusk Books</a>

    <!-- Barra de pesquisa -->
    <div class="w-full md:w-1/3">
      <div class="relative">
        <input type="text"
          name="search"
          id="search"
          placeholder="Search for books by ISBN"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-purple-600 bg-white text-black hover:border-purple-600" />
        <i
          class="fa-solid fa-magnifying-glass absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer"></i>
      </div>
    </div>

    <!-- Links de Navegação e Botões -->
    <ul class="flex flex-wrap justify-center space-x-4 space-y-2 md:space-y-0 text-xl items-center">
      <!-- Links -->
      <li>
        <a [routerLink]="['/books/available']"
          class="hover:text-purple-600 hover:font-bold cursor-pointer">Available Books</a>
      </li>

      <li *ngIf="isAuthenticated && role === 'client'">
        <a [routerLink]="['/books']"
          class="hover:text-purple-600 hover:font-bold cursor-pointer">All Books</a>
      </li>

      <li>
        <a [routerLink]="['/books/available']"
          class="hover:text-purple-600 hover:font-bold cursor-pointer">Categories</a>
      </li>
      <li>
        <a [routerLink]="['/books/available']"
          class="hover:text-purple-600 hover:font-bold cursor-pointer">Reviews</a>
      </li>

      <!-- Botão Sign in -->
      <li *ngIf="!isAuthenticated">
        <a [routerLink]="['/signin']"
          class="hover:text-purple-600 hover:font-bold text-white py-1 px-3 transition-all cursor-pointer hover:scale-105">
          Sign in
        </a>
      </li>

      <!-- Botão Sign up -->
      <li *ngIf="!isAuthenticated">
        <a [routerLink]="['/signup']"
          class="border border-white text-white font-bold py-1 px-3 rounded-md hover:bg-purple-600 transition-all cursor-pointer hover:scale-105">
          Sign up
        </a>
      </li>

      <li *ngIf="isAuthenticated">
        <a [routerLink]="['/user-area']"
          class="hover:text-purple-600 hover:font-bold text-white py-1 px-3 transition-all cursor-pointer hover:scale-105">
          User Area
        </a>
      </li>

      <li *ngIf="isAuthenticated">
        <a [routerLink]="['/logout']"
          class="hover:text-purple-600 hover:font-bold text-white py-1 px-3 transition-all cursor-pointer hover:scale-105">
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </li>

    </ul>
  </div>
</nav>