<!-- book-page.component.html -->
<section *ngIf="book"
  class="px-4 py-8 md:py-12 w-full min-h-screen">
  <div class="max-w-4xl mx-auto">
    <!-- Botão Voltar -->
    <button routerLink="/books/available"
      class="mb-8 text-white hover:text-purple-600 transition-colors font-medium text-lg">
      ← Back to Books
    </button>

    <!-- Manager buttons -->
    <div *ngIf="isAuthenticated && userRole === 'manager'"
      class="flex justify-end gap-4 mb-8">
      <app-button-edit-book></app-button-edit-book>
      <app-button-update-availability [isbn]="book.isbn"></app-button-update-availability>
      <app-button-remove-book [isbn]="book.isbn"></app-button-remove-book>
    </div>

    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Capa do Livro (40% width) -->
      <div class="lg:w-2/5">
        <div class="bg-white p-4 rounded-lg shadow-md">
          <img [src]="book.cover"
            [alt]="book.title + ' cover image'"
            class="w-full h-auto object-contain max-h-[500px] rounded-xl"
            (error)="book.cover = 'https://www.hachette.co.nz/graphics/CoverNotAvailable.jpg'">
        </div>
      </div>

      <!-- Detalhes do Livro (60% width) -->
      <div class="lg:w-3/5">
        <div class="bg-white px-6 py-8 rounded-lg shadow-md space-y-6">
          <!-- Cabeçalho -->
          <div class="space-y-3">
            <h1 class="text-3xl font-bold text-black">{{ book.title }}</h1>
            <div class="flex flex-wrap items-center gap-3">
              <span class="bg-purple-200 text-purple-800 px-3 py-1 rounded-full text-md">
                {{ book.category }}
              </span>
              <span class="text-md text-green-900 bg-green-200 px-3 py-1 rounded-full"
                *ngIf="book.available">Available</span>
              <span class="text-red-900 text-md bg-red-200 px-3 py-1 rounded-full"
                *ngIf="!book.available">Unavailable</span>
              <span class="text-gray-800 text-md bg-gray-200 px-3 py-1 rounded-full">ISBN: {{ book.isbn }}</span>
            </div>
          </div>

          <!-- Autores -->
          <div class="space-y-2">
            <h2 class="text-xl font-semibold text-gray-900">
              Authors: <span class="font-normal">{{ book.author.join(', ') }}</span>
            </h2>
          </div>

          <!-- Preço -->
          <div class="space-y-6 pt-2">
            <div class="flex items-baseline gap-4">
              <span class="text-4xl font-bold text-purple-600">
                R$ {{ book.price | number:'1.2-2' }}
              </span>
            </div>
          </div>

          <div *ngIf="book.category"
            class="mt-8 bg-white rounded-lg border-t pt-6">
            <h4 class="text-xl text-gray-900 font-semibold mb-3">About the {{ book.category }} Category</h4>
            <p class="text-gray-800">
              This carefully selected work is part of our {{ book.category }} collection, featuring
              titles that have been critically acclaimed and reader-approved in this genre.
            </p>
          </div>

          <!-- Informações Adicionais -->
          <div *ngIf="book.author.length > 1"
            class="pt-6 border-t">
            <h3 class="text-lg font-semibold mb-3">About the Authors</h3>
            <ul class="list-disc pl-5 space-y-2">
              <li *ngFor="let author of book.author"
                class="text-gray-800">
                {{ author }}
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>