<!-- books-listing.component.html -->
<div class="min-h-screen flex flex-col">
  <div class="flex-grow">
    <!-- Loading State -->
    <div *ngIf="isLoading"
      class="m-24 animate-pulse h-80">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        <div *ngFor="let _ of [].constructor(4)">
          <div class="h-96 bg-gray-200 rounded-md"></div>
          <div class="h-6 bg-gray-200 mt-4 w-3/4"></div>
          <div class="h-4 bg-gray-200 mt-2 w-1/2"></div>
        </div>
      </div>
    </div>

    <!-- Conteúdo Real -->
    <section *ngIf="!isLoading"
      class="m-24">
      <div *ngIf="books.length > 0"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">

        <div *ngFor="let book of books">
          <app-book-detail [book]="book"></app-book-detail>
        </div>
      </div>

      <!-- Estado Vazio -->
      <div *ngIf="books.length === 0 && !isLoading"
        class="text-center text-gray-500">
        <p class="text-xl">No books were found.</p>
      </div>
    </section>
  </div>
</div>