<div *ngIf="book"
  class="group bg-white text-black p-4 shadow-xl hover:shadow-2xl transition-all duration-300 
         rounded-md border-2 border-purple-100 hover:border-purple-200 relative overflow-hidden
         hover:-translate-y-1 transform">

  <!-- Imagem do livro com efeito hover -->
  <div class="w-full aspect-[3/4] overflow-hidden rounded-md shadow-lg">
    <a [routerLink]="['/book', book.isbn]"
      class="block h-full">
      <img class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
        [src]="book.cover"
        [alt]="book.title + ' cover image'"
        loading="lazy">
    </a>
  </div>

  <!-- Conteúdo textual -->
  <div class="pt-4 space-y-3">
    <!-- Título do livro -->
    <a [routerLink]="['/book', book.isbn]"
      class="hover:text-purple-800 transition-colors">
      <h1 class="text-2xl font-bold truncate leading-tight text-black">
        {{ book.title }}
      </h1>
    </a>

    <h2 class="text-lg font-medium text-gray-600 truncate">
      {{ book.author }}
    </h2>

    <div class="flex justify-between items-center mt-4">
      <p class="text-purple-900 font-bold text-2xl flex items-center">€ {{book.price}}
      </p>
      
<!-- <button class="bg-purple-600 text-white px-5 py-2 rounded-lg font-semibold
                    opacity-0 group-hover:opacity-100 transition-opacity duration-300
                    hover:bg-purple-700 shadow-md">
        Add to Cart
      </button> -->
    </div>
  </div>
</div>